@charset "utf-8";
body{
    background-color: black;
    color: yellow;
    font-style: normal;
    font-size: 25pt;
    font-family: 'Nimbus Roman';
    width: 100vw;
    height: 100vh;
    margin: 0px;
    box-sizing: border-box;
    display: flex;;
    align-items: center;
    justify-content: center;
    text-align: center;
}
p{
    text-align: justify;
    text-indent: 50px;
}
p:hover, h2:hover, h3:hover{
    color: cyan;
}
nav{
    display: block;
}
ul{
    position: absolute;
    top: -20px;
    right: 300px;
    list-style: none;
    text-transform: uppercase;
}
li{
    display: inline;
    padding: 10px;
    margin: 2px;
    
}
a{
    text-decoration: none;
    color: indigo;
}
a:hover{
    text-decoration: underline;
    color: blue;
}
#codigo:hover{
    color: white;
}
.opacidade{
    position: relative;
    float:right;
    box-sizing: border-box;
    opacity: 0;
}
.opacidade:hover{
    border: 1px lime solid;
    opacity: 1;
}
#img{
    width: 200px;
    height: 92px;
    transition: 1s ease-in-out;
    animation: borda 5s;
}
#img:hover{
    width: 400px;
    height: 184px;
    transition: 1s ease-in-out;
    animation: volta 5s;
}
@keyframes volta{
    0%{
        border: 10px yellow dotted;
    }
}
@keyframes borda{
    0%{
        border: 10px yellow dashed;
    }
}
.h2{
    position: relative;
    box-sizing: border-box;
    opacity: 0;
}
.h2:hover{
    position: relative;
    opacity: 1;
}